<app-character-filter (getFilters)="displayFilters($event)"></app-character-filter>

<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  aria-label="Select page"
  (page)="changePage($event.pageIndex)"
>
</mat-paginator>

<ng-container *ngIf="characters$ | async as characters; else LoadingOrError">
  <div class="row">
    <ng-container *ngFor="let character of characters; trackBy: trackById">
      <div class="col-3 col-12-sm">
        <app-character-card [character]="character"></app-character-card>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #LoadingOrError>
  <div *ngIf="errorRequest; else loading">
    <p>There's been an error</p>
  </div>
  <ng-template #loading>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</ng-template>
