.chips-filters {
  
}

// :host(.search-bar-w) {
//   width: 70%;
// }

@media (min-width: 475px) {
  .chips-filters {
    display: flex;
    flex-direction: column;
  }

  .search-bar-w {
    width: 100%;
  }
}

.filter-layout {
  display: flex;
  flex-direction: column;
}