<div class="filter-layout">
  <form [formGroup]="characterFilters">
    <app-search-bar formControlName="name"></app-search-bar>
    <app-filter-container>
      <div>
        <p>Status</p>
        <mat-chip-listbox
          [ariaOrientation]="'vertical'"
          formControlName="status"
        >
          <mat-chip-option value="alive">Alive</mat-chip-option>
          <mat-chip-option value="dead">Dead</mat-chip-option>
          <mat-chip-option value="unknown">Unknown</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div>
        <p>Gender</p>
        <mat-chip-listbox formControlName="gender">
          <mat-chip-option value="female">Female</mat-chip-option>
          <mat-chip-option value="male">Male</mat-chip-option>
          <mat-chip-option value="genderless">Genderless</mat-chip-option>
          <mat-chip-option value="unknown">Unknown</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <button
        mat-flat-button
        type="button"
        (click)="clearFilters()"
      >
        Clear filters
      </button>
    </app-filter-container>
  </form>
</div>
